body {
    color: #777;
    font: 13px 'Open Sans', sans-serif;
    background-color: #F3F3F3;
}

a {
    color: #fff;
}

a:hover {
    color: #fff;
}

p > a {
    color: #e2534b;
    text-decoration: underline;
}

p > a:hover {
    color: #e2534b;
    text-decoration: none;
}

.glyphicon {
    margin-right: 10px;
}

.glyphicon-search {
    top: 2px;
    margin: 0;
    font-size: 1.231rem;
}

.navbar {
    min-height: 80px;
    background: #76c7c0 url('../img/bg-stripes1.png') repeat-x left bottom;
    text-transform: uppercase;
}

.navbar > .container {
    margin-top: 20px;
}

.navbar-brand {
    font-size: 1.923rem;
    text-transform: none;
}

.navbar-brand span {
    font-size: 2.308rem;
    font-weight: bold;
}

.navbar-toggle {
    background-color: rgba(255, 255, 255, 0.2);
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.nav>li>a:focus,
.nav>li>a:hover {
    color: #fff;
    background-color: #62a29e;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.15);
}

.nav>li.open {
    background-color: #e8645a;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.navbar-nav>li>.dropdown-menu {
    background-color: #e2534b;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    text-transform: none;
}

.dropdown-menu {
    padding: 5px 5px 0 5px;
}

.dropdown-menu>li>a {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px 12px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #fff;
    background-color: #76c7c0;
}

.nav .dropdown-menu:after {
    content: '';
    position: absolute;
    top: 0;
    left: 5%;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: #e2534b;
    border-top: 0;
    margin-top: -6px;
}
}
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #fff;
    background-color: #76c7c0;
    font-weight: bold;
}
#mainCarousel .carousel {
    border: 1px solid #1F4B4B;
}
#mainCarousel .carousel-indicators li,
#mainCarousel .carousel-indicators .active {
    width: 60px;
    height: 10px;
    border: none;
    background-color: #b0b8b9;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin: 0;
    margin-right: 10px;
}
#mainCarousel .carousel-indicators .active {
    background-color: #e2534b;
}
#mainCarousel .carousel-caption {
    top: 28%;
}
#mainCarousel .carousel-caption h2 {
    display: inline-block;
    padding: 6px 12px 8px;
    text-transform: uppercase;
    font-size: 3.846em;
    font-weight: bold;
    background-color: #e2534b;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#mainCarousel .carousel-caption p {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 470px;
    margin: 0 auto;
    padding: 15px 40px 20px;
    font-size: 1.231em;
}
#mainCarousel .carousel-control.left>i:before,
#mainCarousel .carousel-control.right>i:before,
#postCarousel .carousel-control.left>i:before,
#postCarousel .carousel-control.right>i:before {
    background-color: #e2534b;
    -webkit-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.15);
}
#mainCarousel .carousel-control.left>i:before,
#postCarousel .carousel-control.left>i:before {
    padding: 15px 20px 15px 10px;
    -webkit-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0
}
#mainCarousel .carousel-control.right>i:before,
#postCarousel .carousel-control.right>i:before {
    padding: 15px 10px 15px 20px;
    -webkit-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
}
#mainCarousel .carousel-control.left,
#mainCarousel .carousel-control.right,
#postCarousel .carousel-control.left,
#postCarousel .carousel-control.right {
    background: none;
}
.intro {
    background-color: #ECECEC;
    margin-bottom: 3.846em;
    margin-top: 3.846em;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.intro p {
    margin-bottom: 0;
}
.intro .btn {
    color: #fff;
    font: 1.538em 'Open Sans', sans-serif;
    font-weight: 600;
    width: 69.26%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #e2534b;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.15);
}
.intro h3 {
    color: #7f8c8c;
    font-size: 2.308em;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 0;
}
.service {
    width: 23.07%;
    margin-right: 2.56%;
    height: 23.846em;
    padding: 50px 20px 50px 20px;
    background-color: #F8F8F8;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 5px #E5E6E6;
    box-shadow: 0 5px #E5E6E6;
}
.service:last-of-type {
    margin-right: 0;
}
.service i {
    color: #62bdbd;
    margin-bottom: 15px;
}
.service h4 {
    margin-bottom: 35px;
    color: #7f8c8c;
    font-weight: bold;
}
.service p {
    margin-bottom: 10px;
}
.service .btn,
.service .btn:visited {
    color: #fff;
    font-size: 1.077em;
    font-weight: 600;
    width: 74%;
    height: 17.7%;
    padding-top: 15px;
    position: absolute;
    bottom: -25px;
    left: 13%;
    background-color: #76c7c0;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.15);
}
.services {
    margin-bottom: 80px;
}
.service:hover,
.service:focus {
    background-color: #fff;
}
.service:hover i {
    color: #e2534b;
}
.service:hover .btn,
.service .btn:hover {
    background-color: #e8645a;
    color: #fff;
}
.about {
    background: url('../img/bg-stripes2.png') repeat-x;
    padding-top: 50px;
}
.about h2 {
    font-size: 3.077em;
    font-weight: 600;
    text-transform: uppercase;
    color: #e1524b;
    margin-bottom: 15px;
}
.work-examples {
    margin-top: 70px;
    margin-bottom: 95px;
    position: relative;
}
.work-examples img {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 5px solid #b0b8b9;
    width: 370px;
    height: 224px;
}
.work-example::before {
    content: url('../img/browser1.png');
    position: absolute;
    z-index: 15;
}
.work-example-main img {
    position: absolute;
    z-index: 16;
    width: 570px;
    height: 310px;
    border-color: #c1c7c8;
}
.work-example-main::before {
    content: url('../img/browser2.png');
    position: absolute;
    z-index: 17;
}
.work-example-main img,
.work-example-main::before {
    left: -20%;
    top: -60px;
}
.why-choose-us {
    margin-bottom: 70px;
}
.about h4 {
    font-size: 16px;
    font-weight: bold;
    color: #7f8c8c;
}
.pluses ul,
.reviews blockquote {
    margin-top: 25px;
    line-height: 2;
}
.pluses i {
    margin-left: -8px;
    top: 7px;
    color: #e04f43;
}
.skills p {
    margin-bottom: 60px;
}
.skills figure {
    display: inline-block;
    margin-right: 3.8%;
}
.skills figure:last-child {
    margin-right: 0;
}
.skills figcaption {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #7f8c8c;
    text-align: center;
    margin-top: 25px;
}
.reviews blockquote {
    position: relative;
    background: #f8f8f8;
    border-radius: 10px;
    font-size: 13px;
    line-height: 1.8;
    font-style: italic;
    border-left: none;
    margin-bottom: 0;
}
.reviews blockquote:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 8%;
    width: 0;
    height: 0;
    border: 24px solid transparent;
    border-top-color: #f8f8f8;
    border-bottom: 0;
    border-right: 0;
    margin-left: -1px;
    margin-bottom: -24px;
}
.reviews cite {
    display: block;
    font-style: normal;
    font-size: 1.231em;
    font-weight: 600;
    margin-left: 55px;
    margin-top: 10px;
}
.divider {
    position: relative;
}
.divider .circle {
    width: 7px;
    height: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    background-color: #e1e2e2;
    display: inline-block;
    position: absolute;
    top: 15px;
}
.divider hr {
    height: 1px;
    width: 100%;
    margin: 0;
    background-color: #E1E2E2;
    display: inline-block;
    position: absolute;
    top: 17px;
}
.clients-carousel {
    margin-top: 40px;
    padding: 0;
}
.footer-nav {
    background: #76c7c0 url('../img/bg-stripes3.png') repeat-x left top;
    padding-top: 45px;
    padding-bottom: 45px;
    color: #fff;
}
.footer-nav h3 {
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 30px;
}
.footer-nav h4 {
    font-size: 20px;
    color: #3b6360;
    font-weight: bold;
    margin-bottom: 30px;
}
.footer-nav h3 span {
    font-size: 30px;
    font-weight: bold;
}
.footer-nav .phone {
    margin-top: 30px;
}
.footer-nav .phone span,
.footer-nav .email span {
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    margin-left: 25px;
}
.company ul,
.community ul {
    line-height: 1.8;
}
.company i,
.community i {
    font-size: 8px;
    margin-right: 10px;
    top: 3px;
}
.company a:active,
.community a:active,
.company a:visited,
.community a:visited,
.blog a:active,
.blog a:visited {
    color: #fff;
    text-decoration: none;
}
.footer-nav .from-blog {
    color: #fff;
}
.footer-nav .from-blog span {
    font-style: italic;
    font-weight: normal;
}
.media .media-left img {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.media-body .date {
    color: #3b6360;
}
.footer-bottom {
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #6ab3ac;
}
.footer-bottom p {
    margin-bottom: 0;
    font-size: 12px;
    padding-top: 2%;
}
.social-links {
    padding: 0;
}
.social-links a:active,
.social-links a:visited {
    color: #fff;
}
.social-links a:not(:last-child) {
    margin-right: 30px;
}
/*BLOG STYLES */

.breadcrumbs {
    background-color: #ececec;
    color: #7f8c8c;
    font-size: 0.923em;
    padding: 30px 0;
    position: relative;
    margin-bottom: 55px;
}
.breadcrumbs a {
    color: #7f8c8c;
}
.breadcrumbs a:hover {
    text-decoration: underline;
}
.breadcrumb {
    background-color: #ececec;
    margin-bottom: 0;
    padding-top: 4px;
    padding-bottom: 0;
}
.breadcrumbs::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 9%;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-top-color: #ececec;
    border-bottom: 0;
    margin-left: -12px;
    margin-bottom: -12px;
}
.category-name {
    display: inline-block;
    font-size: 1.667em;
    font-weight: 600;
}
.post {
    padding: 45px 0;
    border-bottom: 3px solid #e5e6e6;
}
.post-date {
    color: #7f8c8c;
    background-color: #F8F8F8;
    padding: 10px;
    margin-bottom: 20px;
    width: 70px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 5px #E5E6E6;
    box-shadow: 0 5px #E5E6E6;
}
.post-month {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.post-day {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}
.post-type {
    text-align: center;
    background-color: #7F8C8C;
    width: 70px;
    height: 70px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}
.post-type i {
    margin-top: 30%;
    color: #fff;
}
.post-body>img {
    width: 100%;
    margin-bottom: 35px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 5px #E5E6E6;
    box-shadow: 0 5px #E5E6E6;
}
.post-title {
    margin-bottom: 25px;
}
.post-title:first-child {
    margin-top: 0;
}
.post-title a {
    color: #76c7c0;
    font-size: 24px;
    font-weight: 600;
}
.post-pub-info {
    margin-bottom: 40px;
}
.post-pub-info:last-child {
    margin-bottom: 0;
}
.post-pub-info>div {
    display: inline-block;
    margin-right: 20px;
    font-size: 14px;
}
.post-pub-info a {
    color: #e2534b;
}
.post-pub-info i {
    color: #76c7c0;
    margin-right: 5px;
}
.post-summary {
    font-size: 14px;
    margin-bottom: 20px;
}
.post-more-link,
.post-more-link a {
    color: #e2534b;
    font-size: 14px;
}
.post-more-link i {
    margin-left: 10px;
}
.post-body.col-xs-12 {
    width: 100%;
}
.post-info.col-lg-2 {
    width: 11%;
}
.post-body.col-lg-10 {
    width: 89%;
}
.post-body.col-md-10 {
    width: 89%;
}
.post-body.col-sm-10 {
    width: 89%;
}
#postCarousel img {
    width: 100%;
}
.carousel {
    -webkit-box-shadow: 0 5px #E5E6E6;
    box-shadow: 0 5px #E5E6E6;
}
#postCarousel,
#postCarousel img {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.post-quote blockquote {
    font-size: 14px;
    font-style: italic;
    color: #7f8c8c;
    border: none;
    padding: 0;
}
video,
audio {
    width: 100%;
    -webkit-box-shadow: 0 5px #E5E6E6;
    box-shadow: 0 5px #E5E6E6;
}
.blog-pagination {
    margin-top: 65px;
    margin-bottom: 90px;
    padding-left: 0;
}
.pagination {
    margin: 0;
}
.pagination>li>a,
.pagination>li>a:visited {
    text-align: center;
    width: 42px;
    height: 42px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background-color: #8c9898;
    margin-right: 15px;
    margin-top: 15px;
    padding-top: 1.7%;
    border: none;
    -webkit-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.pagination>li:last-child>a,
.pagination>li:first-child>a {
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.pagination>li:last-child>a {
    margin-left: 12px;
}
.pagination>li:first-child>a {
    margin-right: 27px;
}
.pagination>li>a:hover {
    color: #fff;
    background-color: #E5655D;
}
.pagination>li>a:active,
.pagination>li>a.active {
    background-color: #649792;
    font-weight: normal;
    color: #fff;
}
.blog-main>.row:first-child>.post {
    padding-top: 0;
}
.blog-sidebar>div {
    margin-bottom: 50px;
}
.blog-sidebar h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    color: #7f8c8c;
    margin-bottom: 30px;
}
.blog-sidebar ul {
    list-style-type: none;
    margin-left: 10px;
    line-height: 2.143;
}
.blog-sidebar a {
    color: #e2534b;
    font-weight: 600;
}
.blog-categories i {
    margin-right: 5px;
    color: #62b9b0;
}
.blog-categories>ul>li>a {
    text-transform: uppercase;
}
.blog-recent>ul>li {
    border-bottom: 1px solid #e5e6e6;
    padding: 15px 0;
}
.blog-recent i {
    display: inline-block;
    font-size: 50%;
    color: #62b9b0;
    margin-right: 10px;
    margin-top: 1.5em;
    vertical-align: top;
}
.blog-recent p {
    margin-bottom: 0;
}
.blog-recent li:first-child {
    padding-top: 0;
}
.blog-recent a {
    display: inline-block;
    width: 90%;
    line-height: 1.5;
}
.blog-recent a>span {
    display: block;
    color: #7f8c8c;
    font-size: 12px;
    margin-top: 0.2em;
    font-weight: normal;
}
.blog-recent a>span:hover {
    text-decoration: none;
}
.blog-tags li {
    display: inline-block;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #7F8C8C;
    margin-right: 9px;
    margin-top: 10px;
    padding: 0 5px;
}
.blog-tags li > a {
    color: #fff;
    font-size: 14px;
    font-weight: normal;
}
.blog-tags li > a:hover {
    text-decoration: none;
}
.blog-tags li:hover {
    background-color: #E2534B;
}
.blog-tags h4 {
    margin-bottom: 20px;
}
.blog-archive i {
    margin-right: 15px;
    color: #7f8c8c;
}
.blog-archive a {
    font-weight: normal;
}
/* CONTACTS STYLEs */

#map {
    width: 100%;
    height: 400px;
    -webkit-box-shadow: 0 5px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 60px;
}
.map-remark p {
    margin: 0;
}
.map-remark {
    background-color: #ECECEC;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 25px 20px;
    margin-bottom: 60px;
}
.contacts-main h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    color: #7f8c8c;
    margin-bottom: 30px;
    margin-left: 1em;
}
.contact-form {
    display: block;
}
.contact-form input {
    margin-bottom: 20px;
    height: 3em;
}
.contact-form textarea {
    margin-bottom: 35px;
    height: 18em;
    padding-top: 1em;
    resize: none;
}
.contact-form label {
    margin-top: 6px;
    font-size: 18px;
    font-weight: normal;
}
.contact-form textarea,
.contact-form input {
    background-color: #e5e6e6;
    border: none;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: inset 2px 2px 0px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 2px 2px 0px 0px rgba(0, 0, 0, 0.1);
    box-shadow: inset 2px 2px 0px 0px rgba(0, 0, 0, 0.1);
}
.contact-form textarea:focus,
.contact-form input:focus {
    outline: none;
}
.contact-form button {
    background-color: #E8645A;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding-top: .6em;
    padding-bottom: .6em;
    -webkit-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.1);
}
.contact-form button:hover,
.contact-form button:active {
    color: #fff;
    outline: none;
}
.contacts-main {
    margin-bottom: 240px;
}
.contacts-place {
    margin-bottom: 30px;
}
.contacts-place p {
    font-size: 14px;
    display: inline-block;
    width: 85%;
    margin-left: 10px;
}
.contacts-place i {
    color: #e2534b;
}
.contacts-phone i,
.contacts-email i {
    color: #7f8c8c;
    margin-right: 10px;
    margin-left: 7px;
    font-size: 1.5em;
}
.contacts-phone a,
.contacts-email a {
    font-size: 16px;
}
.contacts-phone a {
    color: #7f8c8c;
    text-decoration: none;
}
.contacts-main .valid {
    box-shadow: 0 0 15px rgba(154, 205, 50, 1);
}
.contacts-main input.invalid {
    box-shadow: 0 0 15px rgba(139, 0, 0, 1);
}
@media (max-width: 992px) {
    .service {
        padding-top: 20px;
    }

    .service .btn {
        bottom: 20px;
    }

    .post-info>div {
        width: 100%;
    }

    .post-month {
        font-size: .7em;
    }

    .post-day {
        font-size: 1em;
    }

    .post-type {
        font-size: .8em;
        height: 4em
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .service {
        padding-top: 35px;
    }

    .skills .col-md-6 {
        text-align: center;
    }

    .skills .col-md-6:nth-child(n+3) {
        margin-top: 10px;
    }

    .skills p {
        margin-bottom: 40px;
    }

    .bx-wrapper .bx-controls-direction a {
        position: absolute;
        top: -78%;
        margin-top: 0;
    }

    .clients-carousel {
        margin-top: 60px;
    }

    .contacts-place p {
        width: 80%;
    }
}
@media (min-width: 601px) and (max-width: 992px) {
    .service {
        width: 48.75%;
        margin-right: 2.5%;
        margin-bottom: 30px;
    }

    .service:nth-child(2n) {
        margin-right: 0;
    }

    #mainCarousel .carousel-caption {
        top: 5%;
        padding: 0;
    }

    #mainCarousel .carousel-caption p {
        font-size: 1em;
    }

    #mainCarousel .carousel-caption h2 {
        font-size: 3.5em;
    }

    .intro .btn {
        margin-top: 15%;
    }

    .services {
        margin-bottom: 20px;
    }

    .work-examples {
        margin-top: 40px;
    }

    .work-example img {
        width: 185px;
        height: 112px;
    }

    .work-example-main img {
        width: 285px;
        height: 155px;
        top: -20px;
    }

    .work-example::before,
    .work-example-main::before {
        display: none;
    }

    .skills .col-sm-6:nth-child(n+3) {
        margin-top: 10px;
    }

    .skills p {
        margin-bottom: 20px;
    }

    .reviews cite {
        margin-top: 18px;
    }

    .footer-nav .phone {
        margin-top: 0;
    }

    .contacts-place p {
        width: 75%;
    }

    .contacts-place i {
        vertical-align: top;
    }
}
@media (max-width: 600px) {
    .nav .dropdown-menu:after {
        margin: 0;
        left: 0;
        border: none;
    }

    #mainCarousel .carousel-caption {
        top: 30%;
        padding: 0;
    }

    #mainCarousel .carousel-caption p {
        display: none;
    }

    #mainCarousel .carousel-caption h2 {
        font-size: 120%;
    }

    #mainCarousel .carousel-control.left>i:before,
    #mainCarousel .carousel-control.right>i:before,
    #postCarousel .carousel-control.left>i:before,
    #postCarousel .carousel-control.right>i:before {
        background: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .carousel-control .fa-angle-double-left,
    .carousel-control .fa-angle-double-right,
    .carousel-control .icon-next,
    .carousel-control .icon-prev {
        top: 35%;
    }

    .service {
        width: 100%;
        margin-bottom: 15px;
    }

    .carousel-indicators {
        display: none;
    }

    .intro {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .intro .btn {
        width: 100%;
        margin-top: 10%;
    }

    .services {
        margin-bottom: 20px;
    }

    .work-examples {
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .work-example img {
        width: 185px;
        height: 112px;
    }

    .work-example-main {
        text-align: center;
    }

    .work-example-main img {
        position: static;
        width: 285px;
        height: 155px;
        top: -20px;
    }

    .work-example::before,
    .work-example-main::before {
        display: none;
    }

    .work-example-main img,
    .work-example-main::before {
        left: 0;
    }

    .skills {
        text-align: center;
    }

    .skills .col-sm-6:nth-child(n+3) {
        margin-top: 10px;
    }

    .skills p {
        margin-bottom: 20px;
    }

    .reviews h4 {
        margin-top: 20px;
    }

    .reviews cite {
        margin-top: 25px;
    }

    .footer-bottom p {
        font-size: 70%;
    }

    .blog-main {
        padding: 0 15px;
    }

    .blog-main .row {
        margin: 0;
    }

    .contacts-main button {
        margin-bottom: 30px;
    }

    .contacts-main {
        margin-bottom: 20px;
    }
}
@media (min-width: 992px) {
    .contacts h3 {
        text-align: left;
    }
}
